<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oauth Profile</title>
    <link rel="stylesheet" type="text/css" href="css/cookies_nav_bar.css">
  </head>
  <body>
      <!--NAVIGATION DRAWER-->
    {{!--<div class="top-nav">--}}
    {{!--    <ul class="top-horizontal">--}}
    {{!--      <li class="top-menu lefty"><a href="javascript:void(0)">User: {{my_name}}</a></li>--}}
    {{!--      <li class="top-menu lefty"><a href="javascript:void(0)">Premium Content!</a></li>--}}
    {{!--    </ul>--}}
    {{!--</div>--}}
      
    <h1>Hello, {{my_name}}</h1>
    <p>You are class of {{grad_class}}</p>
    <p>Counselor is {{my_counselor}}</p>
    <a href="https://user.tjhsst.edu/2020vnayak/reset_token"><button>Click to log out.</button></a>
  </body>
</html>