<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Premium Content</title>
    <link rel="stylesheet" type="text/css" href="css/cookies_nav_bar.css">
  </head>
  <body>
      <!--NAVIGATION DRAWER-->
    <div class="top-nav">
        <ul class="top-horizontal">
          <li class="top-menu lefty"><a href="javascript:void(0)">User: {{my_name}}</a></li>
          <li class="top-menu lefty"><a href="javascript:void(0)">Premium Content!</a></li>
        </ul>
    </div>
      
    <p>Hello user! {{premium_content}}</p>
  </body>
</html>